@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary-red: 1, 90%, 64%;
    --primary-blue: 219, 85%, 26%;

    --neutral-white: 0, 0%, 100%;
    --neutral-very-light-grayish-blue: 210, 60%, 98%;
    --neutral-light-grayish-blue-1: 211, 68%, 94%;
    --neutral-light-grayish-blue-2: 205, 33%, 90%;
    --neutral-grayish-blue: 219, 14%, 63%;
    --neutral-dark-grayish-blue: 219, 12%, 42%;
    --neutral-very-dark-blue: 224, 21%, 14%;
  }

  html {
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  html,
  body,
  #root {
    height: 100%;
  }
}
