@mixin breakpoint-1 {
    @media (max-width: 73.75rem) {
        @content;
    }
}

@mixin breakpoint-2 {
    @media (max-width: 58.75rem) {
        @content;
    }
}

@mixin breakpoint-3 {
    @media (max-width: 36.625rem) {
        @content;
    }
}

@function pixel-to-rem($pixel) {
    @return ($pixel / 16) * 1rem;
}

.hidden {
    display: none !important;
}

.translate-X-0 {
    transform: translateX(0) !important;
}

.mobile-only {
    display: none;

    @include breakpoint-2 {
        display: block;
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 75%;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
