*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

main {
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select,
svg {
  font: inherit;
}

button {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
}

a:is(:link, :visited) {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.7;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
