footer {
  background-color: #333a44;
  color: var(--dim-gray);
  font-weight: 700;

  > div {
    display: flex;
    align-items: center;
    height: 96px;

    gap: 3rem;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: 740px) {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 740px) {
    height: 438px;

    > div {
      flex-direction: column;

      padding-block: 4rem 5.5rem;
    }
  }
}
