*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  max-height: 100%;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol,
li {
  padding: 0;
}

button,
a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

#root,
#__next {
  isolation: isolate;
}
