.call-to-action {
  background-color: var(--primary-bright-red);
  padding-block: 44px;

  .container {
    display: flex;
    align-items: center;
  }

  &__text {
    padding-right: 45%;
    flex: 1;
  }

  .button {
    height: fit-content;
  }
}

@media (max-width: 54rem) {
  .call-to-action {
    padding-block: 44px;

    .container {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    &__text {
      padding-right: 0;
      margin-bottom: 32px;
    }
  }
}
