body {
  font-family: "Space Mono", monospace;
}

p {
  font-family: "Lexend Deca", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: var(--dark-navy);
}

h1 {
  font-size: var(--font-size-900);
  letter-spacing: -2.5px;

  @media screen and (max-width: 750px) {
    font-size: var(--font-size-800);
  }
}

h2 {
  font-size: var(--font-size-850);
  letter-spacing: -2.15px;

  @media screen and (max-width: 750px) {
    font-size: var(--font-size-700);
  }
}

h3 {
  font-size: var(--font-size-800);

  @media screen and (max-width: 750px) {
    font-size: var(--font-size-600);
  }
}

h4 {
  font-size: var(--font-size-600);

  @media screen and (max-width: 750px) {
    font-size: var(--font-size-450);
  }
}

p {
  font-size: var(--font-size-400);
  color: var(--dim-gray);
}
